header.page-header
  .page-header__logo
    img.page-header__logo-img(src='img/logo.png' alt='logo')
    span.page-header__logo-text Секретный архив учреждения
  img.page-header__confidentially-img(src='img/confidentially.png' alt='confidentially')
