section.js-skills
  h4.js-skills__title Уровень владения JavaScript
  .js-skills__scale
    .js-skills__slider
    .js-skills__item.js-skills__item--first
      span.js-skills__level
        | Не владею
    .js-skills__item.js-skills__item--middle.js-skills__item--start
      span.js-skills__level
        | Использую готовые решения
    .js-skills__item.js-skills__item--middle
      span.js-skills__level
        | Использую готовые решения
        | и умею их переделывать
    .js-skills__item.js-skills__item--last
      span.js-skills__level
        | Пишу сложные скрипты
