doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title Anketa
    link(rel='stylesheet' href='css/style.min.css')

  body

    include ../blocks/header

    main.main-content
      img.main-content__title(src='img/title.png' alt='title')

      include ../blocks/user-info

      include ../blocks/tech-skills

      include ../blocks/js-skills

      include ../blocks/date

    script(type='text/javascript' src='js/script.js')
