.date
  display flex
  flex-direction column
  padding 34px 0 70px

  @media (min-width: 420px)
    flex-direction row
    align-items flex-end

.date__date-key
  margin-right 7px
  font-size 22px
  line-height 28px
  color #2f1b15
  font-weight 700
  white-space nowrap

.date__date-value
  width 180px
  padding 10px 13px
  border none
  outline none
  font-family 'Courier New', serif
  font-size 30px
  line-height 36px
  color #231f20
  background url('../img/line.png') bottom -4px left no-repeat
