.main-content
  padding 0 10px 0

  @media (min-width: 850px)
    padding 0 120px 0 110px

.main-content__title
  position relative
  left -15px
  display block
  margin 0 auto 45px
  width 221px
  height 118px
