.page-header
  display flex
  justify-content center
  padding 48px 20px 30px

  @media (min-width: 560px)
    padding 48px 46px 30px
    justify-content space-between

.page-header__logo
  display flex
  flex-direction column
  margin-top 12px

.page-header__logo-img
  display block
  width 154px
  height 52px

.page-header__logo-text
  position relative
  top -4px
  display block
  margin-left 6px
  font-size 10px
  line-height 12px
  color #2f1b15

.page-header__confidentially-img
  display none

  @media (min-width: 560px)
    display block
    margin-right 8px
