@import 'normalize';
@import 'fonts';
@import 'blocks/layout';
@import 'blocks/page-header';
@import 'blocks/main-content';
@import 'blocks/user-info';
@import 'blocks/tech-skills';
@import 'blocks/js-skills';
@import 'blocks/date';
